_*_
Java/bin
Java/target
Java/.classpath
Java/.project
Java/.settings
Java/*.bin
Java/OberonEmulator.jar
JS/*.png
JS/*.zip
JS/offline-emu.html
LSPServer/bin
LSPServer/target
LSPServer/.classpath
LSPServer/.project
LSPServer/.settings
LSPServer/*.jar
Oberon/download
Oberon/work
WebSocketServer/bin/
WebSocketServer/target/
WebSocketServer/.classpath
WebSocketServer/.project
WebSocketServer/.settings
WebSocketServer/offline-emu.html
